<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/user-header}"/>
<main>
    <div class="text-center mb-3">
        <h1 class="text-black-50 mt-2"><span th:text="${session.username.username}"></span>'s Pets </h1>
    </div>
    <div class="container table-bordered">
        <div class="row">
            <div class="col-md-2">
                <p>Breed</p>
            </div>
            <div class="col-md-2">
                <p>Name</p>
            </div>
            <div class="col-md-2">
                <p>Age</p>
            </div>
            <div class="col-md-2">
                <p>Disease</p>
            </div>
            <div class="col-md-2">
                <p>Remove</p>
            </div>
        </div>
        <th:block th:each="animal : ${animals}">
            <div class="row">
                <div class="col-md-2">
                    [[${animal.breed}]]
                </div>
                <div class="col-md-2">
                    [[${animal.name}]]
                </div>
                <div class="col-md-2">
                    [[${animal.age}]]
                </div>
                <div class="col-md-2">
                    [[${animal.disease}]]
                </div>
<!--                TODO-->
<!--                <div class="col-md-2">-->
<!--                    <form th:action="@{/user/user-home/delete-pet}" method="post">-->
<!--                        <input type="submit" value="Delete" class="btn btn-danger" />-->
<!--                        <input type="hidden" name="animal" th:id="${animal.id}">-->
<!--                    </form>-->
<!--                </div>-->
            </div>
        </th:block>
    </div>
    <div class="container">
        <div class="row">
            <a class="col-md-3 btn btn-info" th:href="@{/user/add-pet}">Add Pet</a>
        </div>
    </div>
</main>

<th:block th:include="~{fragments/footer}"/>
</body>
</html>