<th:block th:fragment>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Animal Paradise</title><!-- Bootstrap core CSS -->
        <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" th:href="@{css/scrolling-nav.css}">
        <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
        <!-- Font Icon -->
        <link rel="stylesheet" th:href="@{/fonts/material-icon/css/material-design-iconic-font.css}">
        <!-- Main css -->
        <link rel="stylesheet" th:href="@{/css/style.css}">

        <link rel="stylesheet" th:href="@{/css/style-home.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>
</th:block>