<th:block th:fragment>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Animal Paradise</title><!-- Bootstrap core CSS -->
        <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" th:href="@{css/scrolling-nav.css}">
        <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
        <!-- Font Icon -->
        <link rel="stylesheet" th:href="@{/fonts/material-icon/css/material-design-iconic-font.css}">
        <!-- Main css -->
        <link rel="stylesheet" th:href="@{/css/style.css}">

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css    }">
        <script th:src="@{https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js}"></script>
        <script th:src="@{http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js}"></script>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
        <script th:src="@{js/main.js}"></script>
        <script th:src="@{js/form-validation.js}"></script>
        <script>
            $(document).ready(function(){
                $("#hiding").click(function(){
                    $("#hide").hide();
                    $("#showing").show();
                });
            });
        </script>
    </head>
</th:block>