<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda at culpa dolor facere illo ipsum laudantium maxime nisi quibusdam, quidem rerum vel. Amet animi architecto dolorum illum, nihil unde.</div>
            <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam beatae dicta eaque, et excepturi explicabo facilis fugiat iure necessitatibus neque odio omnis pariatur quae quo repellendus rerum vitae. Est.</div>
            <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci distinctio harum laboriosam, laborum magnam odio praesentium quaerat sapiente. Consectetur dolorem ea et nesciunt nisi non, quis sed soluta voluptas.</div>
        </div>
        <div class="row">
            <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque facilis hic voluptatibus. Aliquid aperiam, atque dolores enim eveniet excepturi expedita fugit, labore modi, nam tempore voluptatibus. Delectus, nulla.</div>
            <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam dolore et impedit mollitia nobis non praesentium quos ratione reprehenderit. Deleniti excepturi explicabo, ipsa quae vel veritatis! Eaque, maxime, quidem.</div>
            <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci architecto assumenda cum est ex fuga, iste laudantium nobis odio, quasi quidem, quis quod quos repellendus repudiandae suscipit tenetur voluptatum!</div>
        </div>
        <div class="row">
            <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae blanditiis consequuntur cum dicta doloribus eius facilis ipsa labore laborum, libero, maxime natus nulla quaerat quam reiciendis vel veritatis vitae.</div>
            <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut consequatur enim esse, eum libero quae quo repellat sit soluta. Animi ipsam itaque labore magnam nostrum placeat quasi, rem voluptas!</div>
            <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab ad animi asperiores consequuntur delectus dignissimos dolorum enim et expedita fugiat laudantium natus obcaecati praesentium ratione sed, sunt ullam. Ad.</div>
        </div>
    </div>
</main>

<th:block th:include="~{fragments/footer}" />
</body>
</html>
