<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/doctor-header}"/>
<main>
    <div class="text-center mb-3">
        <h4 class="text-black-50 mt-2">Medicines</h4>
    </div>
    </br>
    <div class="container">
        <div class="row">
            <form th:method="post" th:action="@{/doctor/medicine}" class="col-md-12 regis ter-form" name="medicine"
                  enctype="multipart/form-data">
                <div class="container">
                    <div class="row">
                        <div class=" form-group">
                            <span>Choose photo (max size 500x500, 36KB): </span>
                            <input type="file" name="image" id="photo"/>
                        </div>
                        <div class="form-group">
                            <label for="name"></label>
                            <span>Medicine's Name: </span>
                            <input type="text" name="name" id="name"
                                   placeholder="Ambrozia"/>
                        </div>
                        <div class="form-group">
                            <label for="description"></label>
                            <span>Medicine's description: </span>
                            <input type="text" name="description" id="description"
                                   placeholder="Quick action"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="signup" id="signup" class="form-submit"
                                   value="Add Medicine"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <th:block th:unless="${medicines == null}">
            <th:block th:each="medicine : ${medicines}">
<!--                <div class="medicines"></div>-->
                <div class="row">
                    <div class="col-md-6">
                        <img th:src="${medicine.imageUrl}" alt="doctor-image">
                    </div>
                    <div class="col-md-6">
                        <h4>Name: [[${medicine.name}]]</h4>
                        <h4>Description: [[${medicine.description}]]</h4>
                    </div>
                </div>
            </th:block>
        </th:block>
    </div>
</main>

<th:block th:include="~{fragments/footer}"/>
<<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="/js/medicine-table.js"></script>
</body>
</html>